.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #303030;
  font-family: "Arial", sans-serif;
}

.statusError {
  font-size: 16px;
  color: #f44336;
  margin-top: 20px;
}
