.canvasContainer {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  /* background-color: black; */
  background: linear-gradient(#959595, #a3a3a3);
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.closeButton:hover {
  background: rgba(255, 255, 255, 1);
}

.controlsContainer {
  position: absolute;
  display: flex;
  gap: 16px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
}

.button {
  -webkit-appearance: none;
  white-space: nowrap;
  height: 24px;
  width: 70px;
  color: #222222;
  background-color: #ffffff;
  border: 1px solid #222222;
  /* border-radius: 8px; */
  font-family: "Helvetica Neue", sans-serif;
  /* padding: 13px 23px; */
  text-decoration: none;
  /* font-size: 16px; */
  /* font-weight: 600; */
  line-height: 20px;
}

/* @media (max-width: 480px) {
    .button {
      font-size: 12px;
    }
  } */

.buttonAnimation {
  cursor: wait;
  background-color: transparent;
  color: transparent;
  border: none;
}

.contactsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0; /* Невидимый элемент */
  visibility: hidden; /* Скрыт из DOM */
  transition: opacity 2s ease-in, visibility 0s ease 2s; /* Условие появления */
}

.contactsContainer.visible {
  opacity: 1; /* Элемент видим */
  visibility: visible; /* Отображается */
  transition: opacity 2s ease-out, visibility 0s ease 0s; /* Условие исчезновения */
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 3s forwards; /* Задержка анимации 3 секунды */
}

/* Анимация плавного появления */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
