.canvasContainer {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background-color: black;
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.popupContent img {
  width: 100%;
  height: auto;
  display: block;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.closeButton:hover {
  background: rgba(255, 255, 255, 1);
}

.controlsContainer {
  position: absolute;
  display: flex;
  gap: 16px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
}

/* {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}
.button-23:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
} */
/* .button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
} */

.button {
  -webkit-appearance: none;
  white-space: nowrap;
  /* height: 24px;
  width: 70px; */
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  font-family: "Helvetica Neue", sans-serif;
  padding: 13px 23px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

@media (max-width: 480px) {
  .button {
    font-size: 12px;
  }
}

.buttonAnimation {
  cursor: wait;
  background-color: transparent;
  color: transparent;
  border: none;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  opacity: 0;
  animation: animloader 2s ease-in-out infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

.contactsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0; /* Невидимый элемент */
  visibility: hidden; /* Скрыт из DOM */
  transition: opacity 2s ease-in, visibility 0s ease 2s; /* Условие появления */
}

.contactsContainer.visible {
  opacity: 1; /* Элемент видим */
  visibility: visible; /* Отображается */
  transition: opacity 2s ease-out, visibility 0s ease 0s; /* Условие исчезновения */
}
