/* Общие стили для страницы */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #303030;
  font-family: "Arial", sans-serif;
}

/* Стили для контейнера ввода */

.input:focus {
  border-color: #66afe9;
  outline: none;
}

.button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #388e3c;
}

.status {
  font-size: 16px;
  color: #ffa500; /* Цвет для загрузки */
  margin-top: 20px;
}

.statusSuccess {
  font-size: 16px;
  color: #4caf50;
  margin-top: 20px;
}

.logoutButton {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #f44336;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton2 {
  position: absolute;
  right: 120px;
  top: 30px;
  background-color: #9c9999;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
